<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tribute.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @tribute.url %>
</p>

<%= link_to 'Edit', edit_tribute_path(@tribute) %> |
<%= link_to 'Back', tributes_path %>
