<!DOCTYPE html>
<html>
<head>
  <title>Vidrohi kavi - a tribute to Ram Shankar Yadav 'Vidrohi'</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="banner">
		<center>
		<%= image_tag("vidrohi2.png") %>
	  </center>
		<br/>
		<div class="header_menu">
			<b>
						<%= link_to 'HOME', '/' %> | 
						<%= link_to 'VIDEOS', '/videos' %> | 
						<%= link_to 'POEMS', '/poems' %> | 
						<%= link_to 'TRIBUTES', '/tributes' %> | 
						<%= link_to 'NEWS', '/news' %>
			</b>
		</div>
	</div>

	<div id="main">
		<%= yield %>
	</div>


</body>
</html>
